!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TrelloCoach
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body

    %nav.navbar.navbar-default
      .container
        / Brand and toggle get grouped for better mobile display
        -#.navbar-header
        -#  %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        -#    %span.sr-only Toggle navigation
        -#    %span.icon-bar
        -#    %span.icon-bar
        -#    %span.icon-bar
        -#  %a.navbar-brand{:href => "#"} Trello Coach
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Trello monitoring', tasks_records_show_url
              %span.sr-only (current)
            %li
              = link_to 'Git monitoring', git_summary_show_url



    = yield
